@model IEnumerable<pizzeria.Models.Category>

@{
    ViewData["Title"] = "Catégories";
}

<h1>Index</h1>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <table class="table align-content-center">
            <thead>
                <tr>
                    <th>
                        Catégories
                    </th>
                    <th class="d-flex justify-content-center">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td class="align-middle d-flex justify-content-center">
                            <a class="btn btn-outline-primary me-3" asp-action="Edit" asp-route-id="@item.IdCategory"><i class="bi bi-pencil-square"></i>Modifier </a>
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.IdCategory"><i class="bi bi-trash"></i>Supprimer </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
     </div>
</div>


@await Html.PartialAsync("_CreateButton", "Categories")