



        <div class="row">
            <div class="col-md-6 offset-3 alert alert-success text-center">
                <h2>Commande passée avec succès</h2>
                <p>Vous pouvez voir votre commande dans la section "Commandes" de votre profil</p>
                <hr/>
                <P>Merci pour votre commande</P>
            </div>
        </div>
