@model pizzeria.Models.Product

@{
    ViewData["Title"] = "Supprimer produit";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Supprimer un produit</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <p>Voulez vous vraiment supprimer ce produit?</p>

                <div class="form-group">
                    <form asp-action="DeleteConfirmed">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="IdProduct" />
                        <input type="submit" value="Confirmer" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Annuler</a>
                    </form>
                </div>



            </div>
        </div>
    </div>
</div>
