@model OrderDetail

@{
    ViewData["Title"] = "Supprimer une pizza";
}


<div class="row text">
            <div class="col-md-8 offset-2">
                <p>
                    <h1>Supprimer une pizza</h1>
                </p>
                <div class="row">
                    <div class="col-md-8 offset-2">
                            
                         
                            <div class="form-group">
                                <form asp-action="OrderDetailsDeleteConfirmed">
                                    <input type="hidden" asp-for="@Model.IdOrder"/>
                                    <input type="submit" value="Confirmer" class="btn btn-outline-success float-right" />
                                    <a class="btn btn-outline-secondary" asp-action="Orders">Annuler</a>
                                 </form>
                            </div>
                        
                        

                    </div>
                </div>
            </div>
        </div>