@model pizzeria.Models.Ingredient

@{
    ViewData["Title"] = "Ajouter ingrédient";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Ajouter un ingrédient</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" />
                    </div>
                    <div class="form-group">
                        <label asp-for="IngredientName" class="control-label"></label>
                        <input asp-for="IngredientName" class="form-control" />
                        <span asp-validation-for="IngredientName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Créer" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Retour</a>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
